<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401812964509-517820k86femnkliiqop2nkimcqmlo8u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401812964509-517820k86femnkliiqop2nkimcqmlo8u</string>
	<key>API_KEY</key>
	<string>AIzaSyDnIke4sbOnIG1dTnuezJzBNSwBUKN9dhU</string>
	<key>GCM_SENDER_ID</key>
	<string>401812964509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebase-test-rn</string>
	<key>PROJECT_ID</key>
	<string>fir-test-a3bac</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-a3bac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401812964509:ios:46196cb9d9e8ff8c220074</string>
	<key>DATABASE_URL</key>
	<string>https://fir-test-a3bac.firebaseio.com</string>
</dict>
</plist>